

body{    
        margin: 0;
        padding: 0px;
	height: 100vh;
	/*background: white;*/
	background: linear-gradient(139deg,#03ddffcb 0%,#ff0381b6 90%);
        font-size: 100%
        line-height: 80%;
}

.container{
	position: relative;
	max-width: 800px;
	padding: 0px;
	margin:  auto;
        line-height: 120%;
}

h1{
        position: relative;
        font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	color: black;
}

button{
  background-color: SmokeWhite; 
  border: solid;
  color: black;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
} 

.container{
  font-size: 15px;

}

.container .addtskinput{
  font-size: 20px;
  margin-left: 80px;
  width: 620px;
} 

ul{
	list-style: none;
	counter-reset: my-counter;
}

li button{
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

ul li{

padding: 10px;
list-style: none;
font-size: 23px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border-style: inset;
	outline: none;
	cursor: pointer;
word-wrap: break-word;

} 

