body {
    background-color:aliceblue;
     text-align:center;
}

h1{
    color:navy     ;
    text-align:center;
}

ul {
    margin: 0 auto;
    text-align:left;
    list-style:none;
}

li {
    list-style:none;
}
.search-container {
    float: right;
}

.topnav{
    
    font-size: 20px;
    padding:10px;
    float:left;
}

.search-container button {
    font-size: 20px;
}

.addItem input{
    width:80%;
}


ul li input[type=text] {
    display: none;
}

ul li.editMode input[type=text] {
    display: block;
}

ul li.editMode label {
    display: none;
}